<nav class="navbar navbar-expand-lg text-white bg-purple-pastel">
  <div class="container-fluid">
    <a class="navbar-brand" href="/home">Bit-shop</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" aria-current="page" href="#">Productos</a>
        <a class="nav-link" href="#">Faq</a>
        <a class="nav-link" href="#">Admin</a>
      </div>

      <div class="navbar-nav ms-auto">
        <a class="btn btn-primary m-2" href="#">Iniciar Sesion</a>
        <a class="btn btn-primary m-2" href="#">Registrarse</a>
      </div>

    </div>
  </div>
</nav>
