<div class="">
    <!-- banner -->
  <header class="w-100 bg-yellow text-center text-white p-5">
    <h1>Adquiere lo mejor de nuestra plataforma</h1>
  </header>

  <!-- products container -->
  <section>
    <div class="d-flex justify-content-center">

        <div class="card">
            <div>
                <img class="img-fluid" src="../../../assets/img/chompoPercho.jpg" alt="producto">
            </div>
            <div>
                <p>descripcion</p>
            </div>
        </div>

    </div>
  </section>
</div>
