<div class="">
    <!-- banner -->
  <header class="w-100 bg-yellow text-center text-white p-5">
    <h1>Adquiere lo mejor de nuestra plataforma</h1>
  </header>

  <!-- products container -->
  <section class="mt-3">
    <div class="d-flex justify-content-center">

        <div class="card card-size">
            <div>
                <img class="img-fluid rounded-top" src="../../../assets/img/chompoPercho.jpg" alt="producto">
            </div>
            <div class="mt-3">
                <h4 class="small text-center">Camiseta de comer ponque</h4>
                <p class="text-center">$80.000</p>
                <div class="text-center p-3">
                    <a class="btn btn-success" href="">Comprar</a>
                </div>
            </div>
        </div>

    </div>
  </section>
</div>
