<section>

    <div class="col-md-4 m-4 p-5 shadow-lg rounded">
        <form>
            <!-- Email input -->
            <div class="mb-4">
              <input type="email" id="form1Example1" class="form-control" />
              <label class="form-label" for="form1Example1">Correo Electronico</label>
            </div>
          
            <!-- Password input -->
            <div class="mb-4">
              <input type="password" id="form1Example2" class="form-control" />
              <label class="form-label" for="form1Example2">Contraseña</label>
            </div>
          
            <!-- Submit button -->
            <button type="submit" class="btn bg-yellow text-white btn-block">Iniciar Sesion</button>
          </form>
    </div>

</section>