/* You can add global styles to this file, and also import other style files */
bg-purple-pastel {
    background: #8076fb;
}

bg-purple-dark {
    background: #2f2977;
}

text-purple {
    color: #2f2977;
}